DATABASE_URL=mysql://johndoe:randompassword@localhost:3306/mydb
PORT=3000

GOOGLE_CLIENT_ID=...apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=fsdfaf

JWT_ACCESS_SECRET=secret1
JWT_REFRESH_SECRET=secret2
